<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kisho.trackingtracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackingTracker"
        tools:targetApi="31">
        <activity
            android:name=".user.FlagingsViewActivity"
            android:exported="false" />
        <activity
            android:name=".admin.BookingDetailsActivity"
            android:exported="true" />
        <activity
            android:name=".user.BookedMainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.HomeAdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.FlagingMainActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LoginAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DashbordActivity"
            android:exported="false" />
        <activity
            android:name=".user.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".user.LoginUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.HomeUserActivity"
            android:exported="false" />
        <activity
            android:name=".user.helpActivity"
            android:exported="false" />
        <activity
            android:name=".user.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".user.BookedActivity"
            android:exported="false"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>